* {
    box-sizing: border-box;
}

body {
color: rgb(166, 244, 242);
font-family: 'Secular One', Arial, Helvetica, sans-serif;
font-weight: 400;
font-size: 20px;
letter-spacing: .125rem;
line-height: 1.75rem;
background: linear-gradient(to right, grey, lightgrey);
padding: 0px 15px;
}

ul.pokemon-list{
  list-style: none;
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
}

.new-item {
    background-color: rgb(23, 115, 54);
    padding: 1rem 2rem;
    margin: 15px auto;
    max-width: 700px;
    width: 100%;
    border: none;
    border-radius: 5px;
    transition: all 100ms ease-in-out;
}
.new-item:hover{
  background-image: linear-gradient(to right, rgb(31, 115, 163), rgb(23, 115, 54));
  transform: translateY(-5px);
  padding: 2rem 4rem;
  cursor: pointer;
  scale: 1.1;
}

.pika-image {
    display: flex;
    justify-content: center;
}

.header-title {
    color:rgb(23, 115, 54);
    text-align: center;
}

.loading-message {
  text-align: center;
  font-size: 40px;
  color:rgb(23, 115, 54);
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal{
  margin: auto auto;
  background-color: rgb(134, 134, 134);
  color:rgb(31, 115, 163);
  font-size: 1.5rem;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
}

.modal-close-btn:hover{
  cursor: pointer;
}
.modal-close-btn{
  font-size: 1rem;
  align-self: center;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.modal-header-text{
  display: inline-block;
}
.modal-header {
  background-color: goldenrod;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
  justify-content: space-between;
  position: relative;
}

.image {
  margin: 2rem auto;
  height: 150px;
}

.more-details-container{
  display: block;
  padding-bottom: 2rem;
}

.height-box{
  margin-bottom: 1rem;
}
